<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Empresa</title>
</head>
<body>
    <h1>Adicionar Nova Empresa</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <label for="nome">Nome da Empresa</label>
            {{ form.nome() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <a href="{{ url_for('listar_empresas') }}">Voltar para lista de empresas</a>
</body>
</html>
