<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Empresas</title>
</head>
<body>
    <h1>Empresas Cadastradas</h1>
    <ul>
        {% for empresa in empresas %}
        <li>
            <a href="{{ url_for('listar_clientes_por_empresa', empresa_id=empresa.id) }}">{{ empresa.nome }}</a>
            <a href="{{ url_for('cadastrar_cliente', empresa_id=empresa.id) }}">Cadastrar Cliente</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('adicionar_empresa') }}">Adicionar Nova Empresa</a>
</body>
</html>
